extends ../layout

block content
  h1= title
  p #{t('greeting')} - #{t('edit-breeds')}
  
  
  form(action="breeds", method="post")
    if (editing)
      input(type="hidden" name="id" value=editing._id)
    p=t('breed-name')
      if (editing)
        input(type="text", name="name" value=editing.name)
      else
        input(type="text", name="name")
    p=t('server')
      if (editing)
        input(type="text", name="server" value="server")
      else
        input(type="text", name="server")
    p=t('breeder')
      select(name="breeder")
        each breeder in breeders
            if (editing && breeder._id === editing.breeder)
              option(selected="selected" value=breeder.username) #{breeder.name} [#{breeder.username}]
            else
              if (!editing && breeder.username === "NONE")
                option(value=breeder.username selected="selected") #{breeder.name} [#{breeder.username}]
              else
                option(value=breeder.username) #{breeder.name} [#{breeder.username}]
    input(type="submit" name="Submit")


    if breeds
      h2=t('existing-breeds')
      table
        tr
            th=t('getname')
            th=t('getserver')
            th=t('getbreeder')
            th=t('actions')
        each breed in breeds
          tr  
            td= breed.name
            td= breed.server
            each breeder in breeders
                if (breeder._id === breed.breeder)
                    td=breeder.username
            td(width="10")
              a(href="?id=" + breed.id style="text-decoration: none; color: #fff;")
                i(class="icon mdi mdi-pencil")
              a(href="removeUser?id=" + breed.id style="text-decoration: none; color: #fff;")
                i(class="icon mdi mdi-delete-forever")