extends ../layout

block content
  h1= title
  p #{t('greeting')} - #{t('edit-user')}
  
  form(action="user", method="post")
    if (editing)
      input(type="hidden" name="id" value=editing._id)
    p=t('ask-username')
      if (editing)
        input(type="text", name="username" value=editing.username)
      else
        input(type="text", name="username")
    p=t('ask-name')
      if (editing)
        input(type="text", name="name" value=editing.name)
      else
        input(type="text", name="name")
    p=t('ask-password')
      if (editing)
        input(type="password", name="password" value=editing.password)
      else
        input(type="password", name="password")
    if (editing)
      if (editing.isAdmin)
        div(class="pretty p-switch p-fill")
        input(type="checkbox", name="isAdmin" checked)
        div(class="state p-success")
          label=t('is-admin')
      else
        div(class="pretty p-switch p-fill")
          input(type="checkbox", name="isAdmin" )
          div(class="state p-success")
            label=t('is-admin')
    else
      div(class="pretty p-switch p-fill")
        input(type="checkbox", name="isAdmin" )
        div(class="state p-success")
          label=t('is-admin')
    if (editing)
      if (editing.isBreeder)
        div(class="pretty p-switch p-fill")
          input(type="checkbox", name="isBreeder" checked)
          div(class="state p-success")
            label=t('is-breeder')
      else
        div(class="pretty p-switch p-fill")
          input(type="checkbox", name="isBreeder" )
          div(class="state p-success")
            label=t('is-breeder')
    else
      div(class="pretty p-switch p-fill")
        input(type="checkbox", name="isBreeder" )
        div(class="state p-success")
          label=t('is-breeder')
    hr
    input(type="submit" name=t('submit'))

  if users
    h2=t('existing-breeds')
    table
      tr
          th=t('getname')
          th Username
          th=t('is-admin')
          th=t('is-breeder')
          th=t('actions')
      each u in users
        tr  
          td=u.name
          td=u.username
          td
            i(class=u.isAdmin ? "icon mdi mdi-check" : "icon mdi mdi-close")
          td
            i(class=u.isBreeder ? "icon mdi mdi-check" : "icon mdi mdi-close")
          td(width="10")
            a(href="?id=" + u._id style="text-decoration: none; color: #fff;")
              i(class="icon mdi mdi-pencil")
            a(href="removeUser?id=" + u._id style="text-decoration: none; color: #fff;")
              i(class="icon mdi mdi-delete-forever")