extends ../layout

block content
  h1= title
  p #{t('greeting')} - Add/Update User
  
  form(action="user", method="post")
    p=t('ask-username')
      input(type="text", name="username")
    p=t('ask-name')
      input(type="text", name="name")
    p=t('ask-password')
      input(type="password", name="password")
    p=t('is-admin')
      input(type="checkbox", name="isAdmin")
    p=t('is-breeder')
      input(type="checkbox", name="isBreeder")
    input(type="submit" name=t('submit'))