extends layout

block menuitems
  a(href="/requests")
    li=t('view-requests')
  a(href="/request")
    li=t('new-request')

block content
  if (messages)
    if (messages.length > 0)
      each message in messages
        div(class="ms-alert ms-" + message.class)
          p=message.message
  if (user)
    div(class="row")
      div(class="ms-article-title")
        h2 #{t('greeting')} #{user.username}
        hr
      div(class="col-sm")
        if (user.isBreeder)
          h3=t('your-lines')
          each breed in breeds
            a(href="/requests?breed=" + breed._id)=breed.name
            br
          hr
          h3=t('requests')
          table(class="ms-table")
            thead
              tr
              th=t('breed-name')
                th=t('requested')
                th=t('actions')
            tbody
              each request in requests
                if (request.user == user._id && request.done === false && request.breed)
                  tr
                    td(width="400")=request.breed.name
                    td(width="400")=request.timestamp
                    td(width="10")
                      a(href="/remove?id=" + request._id style="text-decoration: none; color: #fff;")
                        center ✔️

  div(class="row")
    div(class="col-lg-4 col-sm-12")
      div(class="ms-card")
        div(class="ms-card-pic")
          img(src="https://www.dododex.com/media/creature/otter.png", alt="An otter wearing a top hat")
          div(class="ms-card-pic-stick ms-text-white")=t('otter-caption')
        div(class="ms-card-title")
          h2=t('otter-comment')
          span=t('otter')