doctype html
html
  head
    title= title
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/styles/css/foundation.css')
  body
    div(class="top-bar")
      div(class="top-bar-left")
        ul(class="menu" data-menu)
          li(class="menu-text")=title
          block leftmenustuff
          
      div(class="top-bar-right")
        if (user)
          if (user.isAdmin)
            a(type='button' class='button' href='/admin')=t('admin-panel')
          a(type='button' class='button' href='/logout')=t('logout')
        else
          a(type='button' class='button' href='/login')=t('login')

    div(class="grid-container")
        block content
