doctype html
html
  head
    title= title
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width")
    link(rel='stylesheet', href='/styles/css/minstyle.io.css')
  body
    header
      div(class="ms-menu")
        div(class="ms-menu-logo")
          a(href="/" style="text-decoration: none; color: #fff;")
            p=title
        div(class="ms-menu-link")
          input(type="checkbox" id="ms-menu-toggle")
          label(for="ms-menu-toggle" class="ms-menu-icon") Menu
          ul
            block menuitems
            li(style="margin-top: 10px")
              a(class="github-button" id="donate" href="https://github.com/sponsors/LKD70" data-color-scheme="no-preference: dark; light: light; dark: dark;" data-icon="octicon-heart" data-size="large" aria-label="Sponsor @LKD70 on GitHub")=t('donate')
            if (user)
              if (user.isAdmin)
                a(href="/admin")=t('admin-panel')
              a(href="/logout")
                li=t('logout')
            else
              a(href="/login")
                li=t('login')



  div(class="container")
    if (messages)
      if (messages.length > 0)
        each message in messages
          div(class="ms-alert ms-" + message.class)
            p=message.message
    block content
    script(async defer src="https://buttons.github.io/buttons.js")
    script(src="/js/dark.min.js")
    script(src="https://cdn.jsdelivr.net/npm/cookie-notice-js@1.2.0/dist/cookie.notice.min.js")
    script. 
        new cookieNoticeJS({
          'messageLocales': {
            'en': '<p style="display:inline;"><img src="/images/otter_with_cookie.png" width=100 style="vertical-align:middle">#{t('cookies-agreement')}</P>'
          },
          'buttonLocales': {
            'en': '#{t('button-ok')}'
          },
          'cookieNoticePosition':'top',
          'learnMoreLinkEnabled':true,
          'learnMoreLinkHref':'https://www.learn-about-cookies.com/',
          'learnMoreLinkText':{
              'en': '#{t('button-learn-more')}'
          },
          'expiresIn': 365, 
          'buttonBgColor': '#ff0066',
          'buttonTextColor': '#fefefe',
          'noticeBgColor': '#000',
          'noticeTextColor': '#fff', 
          'linkColor':'#ff0066'   
        });
      const notice = document.getElementById('cookieNotice');
      if (notice) {
        notice.style = "position: fixed; top: 0px; left: 0px; right: 0px; background: #25282c none repeat scroll 0% 0%; color: rgb(255, 255, 255); z-index: 999; padding: 10px 5px; text-align: center; font-size: 20px; line-height: 40px;"
      }

    script.
      const donate = document.getElementById('donate');
      const themecookie = document.cookie.split(";")
        .filter(c => c.split("=")[0].trim() === 'theme')
        .map(c => c.split('='))
      if (themecookie.length) donate.setAttribute('data-color-scheme', themecookie[0][1]);