extends layout

block content
  div(class="row")
    hr
    form(action="/requests", method="get")
      h2=t('view')
      br
      div(class="ms-form-group")
        select(id="select" name="breed")
          each b in breeds
            option(value=b._id)=b.name
      div(class="ms-form-group")
        input(type="submit" class="ms-btn ms-success ms-medium" value=t('show-requests'))

  if (breed)
    div(class="row")
      h2=t('requests') + " - " + breed.name
      table(class="ms-table")
        thead
          tr
            th=t('requester')
            th=t('requested')
            th=t('actions')
        tbody
          each request in requests
            tr
              td(width="400")=request.name.username
              if (user && (request.user == user._id || breed.breeder == user._id || user.isAdmin))
                td(width="400")=request.timestamp
                td(width="10")
                  a(href="/remove?id=" + request.id)
                    center ✔️
              else
                td(width="800")=request.timestamp


block menuitems
  a(href="/request")
    li=t('new-request')