extends layout

block content
  form(action="/request", method="post")
    div(class="grid-container")
      h4(class="text center")=t('new-request')
      div(class="grid-x grid-padding-x")
        select(name="breed")
          each breed in breeds
            option(value=breed._id) #{breed.name}
        input(type="submit" class="button expanded" value=t('submit'))


block leftmenustuff
  li
    a(href="/")=t('home')
  li
    a(href="request")=t('new-request')